global
        log 127.0.0.1   local0 notice
        maxconn 4096
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
#	option http_proxy
        retries 3
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000

frontend RotatingProxies1000
        bind 0.0.0.0:3128
        default_backend Proxies1000
        option http_proxy
        mode http
        option httpclose
        option http-use-proxy-header

backend Proxies1000
 server foo0 uk80.nordvpn.com:80
 server foo1 uk76.nordvpn.com:80
 server foo2 uk32.nordvpn.com:80
 server foo3 uk69.nordvpn.com:80
 server foo4 uk75.nordvpn.com:80
 server foo5 uk83.nordvpn.com:80
 server foo6 uk17.nordvpn.com:80
 server foo7 uk50.nordvpn.com:80
 server foo8 nl62.nordvpn.com:80
 server foo9 uk64.nordvpn.com:80
 server foo10 uk88.nordvpn.com:80
 server foo11 uk72.nordvpn.com:80
 server foo12 nl75.nordvpn.com:80
 server foo13 nl63.nordvpn.com:80
 server foo14 uk78.nordvpn.com:80
 server foo15 nl74.nordvpn.com:80
 server foo16 uk97.nordvpn.com:80
 server foo17 uk26.nordvpn.com:80
 server foo18 nl72.nordvpn.com:80
 server foo19 uk21.nordvpn.com:80
 server foo20 uk15.nordvpn.com:80
 server foo21 uk105.nordvpn.com:80
 server foo22 nl60.nordvpn.com:80
 server foo23 uk65.nordvpn.com:80
 server foo24 uk58.nordvpn.com:80
 server foo25 uk61.nordvpn.com:80
 server foo26 uk18.nordvpn.com:80
 server foo27 uk33.nordvpn.com:80
 server foo28 uk28.nordvpn.com:80
 server foo29 uk95.nordvpn.com:80
 server foo30 uk34.nordvpn.com:80
 server foo31 nl64.nordvpn.com:80
 server foo32 uk67.nordvpn.com:80
 server foo33 fr16.nordvpn.com:80
 server foo34 uk39.nordvpn.com:80
 server foo35 uk98.nordvpn.com:80
 server foo36 be2.nordvpn.com:80
 server foo37 uk93.nordvpn.com:80
 server foo38 uk92.nordvpn.com:80
 server foo39 uk90.nordvpn.com:80
 server foo40 uk53.nordvpn.com:80
 server foo41 uk54.nordvpn.com:80
 server foo42 nl57.nordvpn.com:80
 server foo43 nl53.nordvpn.com:80
 server foo44 nl43.nordvpn.com:80
 server foo45 de137.nordvpn.com:80
 server foo46 nl65.nordvpn.com:80
 server foo47 uk87.nordvpn.com:80
 server foo48 uk94.nordvpn.com:80
 server foo49 nl71.nordvpn.com:80
 server foo50 uk52.nordvpn.com:80
 server foo51 fr18.nordvpn.com:80
 server foo52 uk82.nordvpn.com:80
 server foo53 nl39.nordvpn.com:80
 server foo54 nl56.nordvpn.com:80
 server foo55 nl31.nordvpn.com:80
 server foo56 nl23.nordvpn.com:80
 server foo57 nl30.nordvpn.com:80
 server foo58 fr8.nordvpn.com:80
 server foo59 de140.nordvpn.com:80
 server foo60 uk101.nordvpn.com:80
 server foo61 uk47.nordvpn.com:80
 server foo62 nl66.nordvpn.com:80
 server foo63 de146.nordvpn.com:80
 server foo64 fr17.nordvpn.com:80
 server foo65 uk31.nordvpn.com:80
 server foo66 uk70.nordvpn.com:80
 server foo67 uk77.nordvpn.com:80
 server foo68 uk62.nordvpn.com:80
 server foo69 uk74.nordvpn.com:80
 server foo70 nl40.nordvpn.com:80
 server foo71 uk79.nordvpn.com:80
 server foo72 uk86.nordvpn.com:80
 server foo73 uk22.nordvpn.com:80
 server foo74 uk51.nordvpn.com:80
 server foo75 nl69.nordvpn.com:80
 server foo76 nl46.nordvpn.com:80
 server foo77 uk41.nordvpn.com:80
 server foo78 nl44.nordvpn.com:80
 server foo79 uk27.nordvpn.com:80
 server foo80 uk73.nordvpn.com:80
 server foo81 uk104.nordvpn.com:80
 server foo82 uk40.nordvpn.com:80
 server foo83 uk19.nordvpn.com:80
 server foo84 uk29.nordvpn.com:80
 server foo85 uk99.nordvpn.com:80
 server foo86 nl22.nordvpn.com:80
 server foo87 uk48.nordvpn.com:80
 server foo88 uk59.nordvpn.com:80
 server foo89 uk37.nordvpn.com:80
 server foo90 uk60.nordvpn.com:80
 server foo91 uk110.nordvpn.com:80
 server foo92 nl15.nordvpn.com:80
 server foo93 uk38.nordvpn.com:80
 server foo94 uk55.nordvpn.com:80
 server foo95 uk91.nordvpn.com:80
 server foo96 uk-nl1.nordvpn.com:80
 server foo97 de136.nordvpn.com:80
 server foo98 at3.nordvpn.com:80
 server foo99 uk36.nordvpn.com:80
 server foo100 nl32.nordvpn.com:80
 server foo101 uk111.nordvpn.com:80
 server foo102 uk71.nordvpn.com:80
 server foo103 de141.nordvpn.com:80
 server foo104 be6.nordvpn.com:80
 server foo105 de144.nordvpn.com:80
 server foo106 nl76.nordvpn.com:80
 server foo107 nl36.nordvpn.com:80
 server foo108 dk7.nordvpn.com:80
 server foo109 uk85.nordvpn.com:80
 server foo110 uk20.nordvpn.com:80
 server foo111 nl61.nordvpn.com:80
 server foo112 uk81.nordvpn.com:80
 server foo113 uk46.nordvpn.com:80
 server foo114 cz3.nordvpn.com:80
 server foo115 nl55.nordvpn.com:80
 server foo116 uk63.nordvpn.com:80
 server foo117 cz6.nordvpn.com:80
 server foo118 de142.nordvpn.com:80
 server foo119 nl45.nordvpn.com:80
 server foo120 dk5.nordvpn.com:80
 server foo121 nl73.nordvpn.com:80
 server foo122 it8.nordvpn.com:80
 server foo123 de143.nordvpn.com:80
 server foo124 uk89.nordvpn.com:80
 server foo125 uk96.nordvpn.com:80
 server foo126 ch6.nordvpn.com:80
 server foo127 nl-se1.nordvpn.com:80
 server foo128 nl58.nordvpn.com:80
 server foo129 uk113.nordvpn.com:80
 server foo130 uk16.nordvpn.com:80
 server foo131 nl-uk1.nordvpn.com:80
 server foo132 it14.nordvpn.com:80
 server foo133 dk3.nordvpn.com:80
 server foo134 uk100.nordvpn.com:80
 server foo135 dk2.nordvpn.com:80
 server foo136 nl41.nordvpn.com:80
 server foo137 nl67.nordvpn.com:80
 server foo138 uk84.nordvpn.com:80
 server foo139 uk30.nordvpn.com:80
 server foo140 no3.nordvpn.com:80
 server foo141 se12.nordvpn.com:80
 server foo142 de147.nordvpn.com:80
 server foo143 uk112.nordvpn.com:80
 server foo144 se11.nordvpn.com:80
 server foo145 nl38.nordvpn.com:80
 server foo146 nl70.nordvpn.com:80
 server foo147 de149.nordvpn.com:80
 server foo148 nl37.nordvpn.com:80
 server foo149 nl21.nordvpn.com:80
 server foo150 se17.nordvpn.com:80
 server foo151 nl24.nordvpn.com:80
 server foo152 de148.nordvpn.com:80
 server foo153 nl79.nordvpn.com:80
 server foo154 uk103.nordvpn.com:80
 server foo155 nl68.nordvpn.com:80
 server foo156 nl-ch1.nordvpn.com:80
 server foo157 uk68.nordvpn.com:80
 server foo158 nl47.nordvpn.com:80
 server foo159 nl8.nordvpn.com:80
 server foo160 uk56.nordvpn.com:80
 server foo161 nl34.nordvpn.com:80
 server foo162 hr1.nordvpn.com:80
 server foo163 uk66.nordvpn.com:80
 server foo164 se8.nordvpn.com:80
 server foo165 nl29.nordvpn.com:80
 server foo166 nl78.nordvpn.com:80
 server foo167 se9.nordvpn.com:80
 server foo168 cz5.nordvpn.com:80
 server foo169 nl52.nordvpn.com:80
 server foo170 nl35.nordvpn.com:80
 server foo171 ch8.nordvpn.com:80
 server foo172 nl33.nordvpn.com:80
 server foo173 se14.nordvpn.com:80
 server foo174 be4.nordvpn.com:80
 server foo175 be5.nordvpn.com:80
 server foo176 no1.nordvpn.com:80
 server foo177 es13.nordvpn.com:80
 server foo178 se20.nordvpn.com:80
 server foo179 us726.nordvpn.com:80
 server foo180 nl77.nordvpn.com:80
 server foo181 de145.nordvpn.com:80
 server foo182 dk6.nordvpn.com:80
 server foo183 nl42.nordvpn.com:80
 server foo184 us375.nordvpn.com:80
 server foo185 no4.nordvpn.com:80
 server foo186 ch-nl1.nordvpn.com:80
 server foo187 se24.nordvpn.com:80
 server foo188 es11.nordvpn.com:80
 server foo189 be3.nordvpn.com:80
 server foo190 ch-se1.nordvpn.com:80
 server foo191 se21.nordvpn.com:80
 server foo192 us806.nordvpn.com:80
 server foo193 hu2.nordvpn.com:80
 server foo194 de150.nordvpn.com:80
 server foo195 se15.nordvpn.com:80
 server foo196 us329.nordvpn.com:80
 server foo197 it10.nordvpn.com:80
 server foo198 us662.nordvpn.com:80
 server foo199 us727.nordvpn.com:80

 reqadd Proxy-Authorization:\ Basic\ `echo -n username:password | openssl enc -a`
        balance roundrobin        
